@model CustomerLocationViewModel
@using (Ajax.BeginForm("UpdateCustomerLocation", "Customer", new AjaxOptions { InsertionMode = InsertionMode.Replace, }))
{
    <fieldset class="dataentry">
        <legend>Label</legend>
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.ShortName)
            @Html.TextBoxFor(m => m.ShortName)
            @Html.ValidationMessageFor(x => x.ShortName)
        </div>
        <div>
            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(x => x.Phone)
        </div>
        <div>
            @Html.LabelFor(m => m.Fax)
            @Html.TextBoxFor(m => m.Fax)
            @Html.ValidationMessageFor(x => x.Fax)
        </div>
        <div>
            @Html.LabelFor(m => m.Address1)
            @Html.TextBoxFor(m => m.Address1)
            @Html.ValidationMessageFor(x => x.Address1)
        </div>
        <div>
            @Html.LabelFor(m => m.Address2)
            @Html.TextBoxFor(m => m.Address2)
            @Html.ValidationMessageFor(x => x.Address2)
        </div>
        <div>
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City)
            @Html.ValidationMessageFor(x => x.City)
        </div>
        <div>
            @Html.LabelFor(m => m.StateCode)
            @Html.TextBoxFor(m => m.StateCode)
            @Html.ValidationMessageFor(x => x.StateCode)
        </div>
        <div>
            @Html.LabelFor(m => m.ZipCode)
            @Html.TextBoxFor(m => m.ZipCode)
            @Html.ValidationMessageFor(x => x.ZipCode)
        </div>
    </fieldset>
    
    if (Model.LocationId != 0)
    {
    <div class="oms-button">
        <input type="submit" name="update" class="k-button" value="Update" />
        <input type="submit" name="remove" class="k-button" value="Remove" />
        <input type="submit" name="cancel" value="Cancel" class="k-button cancel" />
    </div>  
    }
    else
    {
    <div class="oms-button">
        <input type="submit" name="save"   value="Save"   class="k-button" />
        <input type="submit" name="cancel" value="Cancel" class="k-button cancel" />
    </div>
    }

    @Html.HiddenFor(m => m.LocationId)
    @Html.HiddenFor(m => m.CustomerId)
}